# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3

# Virtualenv
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# Credentials and Secrets
credentials.json
token.json
*.pem
*.key

# OS-specific
.DS_Store
Thumbs.db
bash.exe.stackdump

# Temporary files
*.tmp
*.bak
*.swp
*~
r.txt

# IDE and Editor
.vscode/
!.vscode/settings.json
.idea/
.history/

# Celery
celerybeat-schedule.*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
